In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\Arcap\Data_Cleaning_Tasks\world_population.csv")
df.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [3]:
df_copy = df.copy()

In [4]:
# List of numeric columns to validate
numeric_cols = [
    '2022 Population', '2020 Population', '2015 Population',
    '2010 Population', '2000 Population', '1990 Population',
    '1980 Population', '1970 Population',
    'Area (km²)', 'Density (per km²)', 'Growth Rate',
    'World Population Percentage'
]

In [5]:
# Convert each column to numeric, coerce invalid entries to NaN
for col in numeric_cols:
    df_copy[col] = pd.to_numeric(df_copy[col], errors='coerce') #If a value is not numeric (like text), it becomes NaN.

In [6]:
# Check if any invalid (non-numeric) values were found
invalid_counts = df_copy[numeric_cols].isna().sum()

In [7]:
print("Invalid (non-numeric) entries per column:")
print(invalid_counts)

Invalid (non-numeric) entries per column:
2022 Population                0
2020 Population                0
2015 Population                0
2010 Population                0
2000 Population                0
1990 Population                0
1980 Population                0
1970 Population                0
Area (km²)                     0
Density (per km²)              0
Growth Rate                    0
World Population Percentage    0
dtype: int64

In [8]:
print("\nFinal dtypes after conversion:")
print(df_copy.dtypes)

Final dtypes after conversion:
Rank                             int64
CCA3                            object
Country/Territory               object
Capital                         object
Continent                       object
2022 Population                  int64
2020 Population                  int64
2015 Population                  int64
2010 Population                  int64
2000 Population                  int64
1990 Population                  int64
1980 Population                  int64
1970 Population                  int64
Area (km²)                       int64
Density (per km²)              float64
Growth Rate                    float64
World Population Percentage    float64
dtype: object