In [2]:
import pandas as pd

In [8]:
df = pd.read_csv(r"D:\Arcap\Data_Cleaning_Tasks\uber.csv")
df.head()

  Dispatching_base_num          Pickup_date Affiliated_base_num  locationID
0               B02617  2015-05-17 09:47:00              B02617         141
1               B02617  2015-05-17 09:47:00              B02617          65
2               B02617  2015-05-17 09:47:00              B02617         100
3               B02617  2015-05-17 09:47:00              B02774          80
4               B02617  2015-05-17 09:47:00              B02617          90

In [4]:
df_copy = df.copy()

In [5]:
# Convert 'Pickup_date' to datetime
df_copy['Pickup_date'] = pd.to_datetime(df_copy['Pickup_date'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [6]:
# Create new features
df_copy['hour_of_day'] = df_copy['Pickup_date'].dt.hour          # Hour of pickup (0-23)
df_copy['day_of_week'] = df_copy['Pickup_date'].dt.day_name()    # Weekday name (Monday, Tuesday...)
df_copy['weekday'] = df_copy['Pickup_date'].dt.dayofweek         # Numeric weekday (Monday=0)
df_copy['month'] = df_copy['Pickup_date'].dt.month              # Month number (1-12)
df_copy['year'] = df_copy['Pickup_date'].dt.year                # Year

In [7]:
print(df_copy[['Pickup_date', 'hour_of_day', 'day_of_week', 'weekday', 'month', 'year']].head())

          Pickup_date  hour_of_day day_of_week  weekday  month  year
0 2015-05-17 09:47:00            9      Sunday        6      5  2015
1 2015-05-17 09:47:00            9      Sunday        6      5  2015
2 2015-05-17 09:47:00            9      Sunday        6      5  2015
3 2015-05-17 09:47:00            9      Sunday        6      5  2015
4 2015-05-17 09:47:00            9      Sunday        6      5  2015