In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [3]:
df = pd.read_csv(r"D:\Arcap\Data_Cleaning_Tasks\Mall_Customers.csv")
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
df_copy = df.copy()

In [5]:
# Initialize MinMaxScaler
scaler = MinMaxScaler()

In [6]:
cols_to_normalize = ['Annual Income (k$)', 'Spending Score (1-100)']

In [7]:
# Apply normalization
df_copy[cols_to_normalize] = scaler.fit_transform(df_copy[cols_to_normalize])

In [8]:
# Check result
print(df_copy.head())

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19            0.000000                0.387755
1           2    Male   21            0.000000                0.816327
2           3  Female   20            0.008197                0.051020
3           4  Female   23            0.008197                0.775510
4           5  Female   31            0.016393                0.397959